.original-image {
  /* width: 500px;
  height: 330px; */
  margin-bottom: 20px;
}
.square {
  background-color: red;
}

.btn-wrap {
  display: block;
}
#avat-img {
  border-style: solid;
  border-width: 9px;
  border-radius: 25%;
  border-color: rgb(53, 151, 126, 1);
}
.disabled {
  disabled: true;
}
